/* Begin aangeleverde code, laten staan, niet veranderen */
html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

img{
    width: 200px;
}

h1{
    font-size: 80px;
}

body{
    color: blue;
}

header, main, footer{
    widows: 100%;
}

header, footer{
    height: 20%;
}

main{
    height: 80%;
    color: red; 
}

header{
    color: grey;
}

header img{
    margin: 20px;
}

main img{
    width: 400px;
}

footer {
    border: 1px;
    color: black;
}

img>ul{
    color: blueviolet;
    list-style-type: circle;
}

h3>p{
    font-family: monospace;
}

ul>li{
    border: dashed black 1px;
}

div>h1{
    font-size: 50px;
    background-color: green;
}

header>nav>ul,footer>nav>ul{
    list-style-type: none;
}


header>nav>ul>li>a{
    text-decoration: none;
}

nav{
    padding-left: 20px;
    
}

header>nav, nav>ul{
    display: flex;
}
/* Einde aangeleverde code, laten staan, niet veranderen */
/* Vul hieronder je eigen code */
